IRIS_RELEASE=v2.4.29
COMPOSE_PROJECT_NAME=iris-app
APP_IMAGE_NAME=ghcr.io/dfir-iris/iriswebapp_app
APP_IMAGE_TAG=v2.4.29
NGINX_IMAGE_NAME=ghcr.io/dfir-iris/iriswebapp_nginx
NGINX_IMAGE_TAG=v2.4.29
SERVER_NAME=iris.app.local
KEY_FILENAME=iris_dev_key.pem
CERT_FILENAME=iris_dev_cert.pem
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_ADMIN_USER=raptor
POSTGRES_ADMIN_PASSWORD=CHANGE_ME
POSTGRES_DB=iris_db
POSTGRES_SERVER=127.0.0.1
POSTGRES_PORT=5432
DOCKERIZED=1
IRIS_SECRET_KEY=CHANGE_ME
IRIS_SECURITY_PASSWORD_SALT=CHANGE_ME
IRIS_UPSTREAM_SERVER=app
IRIS_UPSTREAM_PORT=8000
CELERY_BROKER=amqp://rabbitmq
IRIS_AUTHENTICATION_TYPE=local
IRIS_ADM_USERNAME=administrator
IRIS_ADM_EMAIL=admin@localhost
IRIS_ADM_PASSWORD=CHANGE_ME
IRIS_ADM_API_KEY=CHANGE_ME
INTERFACE_HTTPS_PORT=443
PUBLIC_HOST=iris.app.local
IRIS_EXTERNAL_URL=https://iris.app.local
IRIS_FRONTEND_NETWORK=iris_app_frontend
IRIS_BACKEND_NETWORK=iris_app_backend
