IRIS_RELEASE=v2.4.29
COMPOSE_PROJECT_NAME=iris-db
DB_IMAGE_NAME=ghcr.io/dfir-iris/iriswebapp_db
DB_IMAGE_TAG=v2.4.29
POSTGRES_BIND_IP=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_ADMIN_USER=raptor
POSTGRES_ADMIN_PASSWORD=CHANGE_ME
POSTGRES_DB=iris_db
APP_SERVER_IP=
